docopt==0.6.2 --install-option="--no-compile"
python-libsbml==5.16.0 --install-option="--no-compile"
cobra==0.13.4 --install-option="--no-compile"
numpy==1.15.1 --install-option="--no-compile"
biopython==1.70 --install-option="--no-compile"

